<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tagebuch-App mit Ionic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-label position="floating">Tagebucheintrag</ion-label>
      <ion-textarea rows="5" [(ngModel)]="eintrag"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button expand="block"
              color="success"
              (click)="onEintragSpeichern()">Eintrag speichern</ion-button>

</ion-content>
